<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Itens</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Controle de Itens</h1>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Total Quantidade</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item['Item'] }}</td>
                <td>{{ item['Quantidade'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/home"><button>Voltar</button></a>
</body>
</html>
